<h1 class="features-section-title">FEATURES THAT DEFINE US</h1>

<article class="features-options-container">
  <div class="features-option">
    <img class="features-option-image" src="/home/features/design.png" />
    <h3 class="features-option-text">Design</h3>
  </div>

  <div class="features-option">
    <img class="features-option-image" src="/home/features/security.png" />
    <h3 class="features-option-text">Security</h3>
  </div>

  <div class="features-option">
    <img class="features-option-image" src="/home/features/customize.png" />
    <h3 class="features-option-text">Customize</h3>
  </div>
</article>

<article class="features-points-container">
  <% for(let i = 0; i < 3; i++) { %>
  <div class="features-point">
    <img class="features-point-image" src="/home/features/<%= i + 1 %>.png" />

    <div class="features-text-container">
      <h3 class="features-point-title">Clean & Elegant Design</h3>

      <p class="features-point-description">
        We have designed our interface with simplicity so you wont have to worry
        about any distractions.
      </p>
    </div>
  </div>
  <% } %>
</article>
