<article class="footer-header">
  <a class="footer-header-title-link" href="#header">
    <h1 class="footer-header-title">TaskTonic</h1>
  </a>

  <div class="footer-header-links-container">
    <% for(let i = 0; i < 4; i++) { %>
    <a class="footer-header-link social" href="">
      <img class="footer-header-link-image" src="/home/footer/insta.png" />
    </a>
    <% } %>

    <a class="footer-header-link register" href="#account-section">
      <img class="footer-header-link-image" src="/buttons/signup.png" />
      <h3 class="footer-header-link-text">Register</h3>
    </a>
  </div>
</article>

<article class="footer-body">
  <article class="footer-contacts-container">
    <h2 class="footer-contacts-container-title">Contacts</h2>

    <a class="footer-contact-link" href="">
      <h3 class="footer-contact-link-text">Email</h3>
      <img class="footer-contact-link-image" src="/buttons/mail.png" />
    </a>

    <a class="footer-contact-link" href="">
      <h3 class="footer-contact-link-text">WhatsApp</h3>
      <img class="footer-contact-link-image" src="/buttons/what.png" />
    </a>

    <a class="footer-contact-link" href="">
      <h3 class="footer-contact-link-text">LinkedIn</h3>
      <img class="footer-contact-link-image" src="/buttons/linkedin.png" />
    </a>
  </article>

  <article class="footer-links-container">
    <h2 class="footer-links-container-title">Quick</h2>

    <a class="footer-link" href="#features-section">
      <h3 class="footer-link-text">Features</h3>
    </a>

    <a class="footer-link" href="#templates-section">
      <h3 class="footer-link-text">Templates</h3>
    </a>

    <a class="footer-link" href="#custom-section">
      <h3 class="footer-link-text">Custom</h3>
    </a>

    <a class="footer-link" href="#comments-section">
      <h3 class="footer-link-text">Comments</h3>
    </a>
  </article>

  <article class="footer-links-container">
    <h2 class="footer-links-container-title">Lists</h2>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Features</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Templates</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Custom</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Comments</h3>
    </a>
  </article>

  <article class="footer-links-container">
    <h2 class="footer-links-container-title">Lists</h2>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Features</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Templates</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Custom</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Comments</h3>
    </a>
  </article>
</article>

<article class="footer-footer">
  <h1 class="footer-footer-title">
    <span class="at">@</span>RYAN NOLASCO D MELLO
  </h1>

  <a class="top" href="#header">
    <img class="top-image" src="/buttons/top.png" />
  </a>
</article>
