<article class="footer-info-container">
  <article class="footer-contacts-container">
    <h2 class="footer-contacts-container-title">Contacts</h2>

    <a class="footer-contact-link" href="">
      <h3 class="footer-contact-link-text">Email</h3>
      <img class="footer-contact-link-image" src="/buttons/mail.png" />
    </a>

    <a class="footer-contact-link" href="">
      <h3 class="footer-contact-link-text">WhatsApp</h3>
      <img class="footer-contact-link-image" src="/buttons/what.png" />
    </a>

    <a class="footer-contact-link" href="">
      <h3 class="footer-contact-link-text">LinkedIn</h3>
      <img class="footer-contact-link-image" src="/buttons/linkedin.png" />
    </a>
  </article>

  <article class="footer-links-container">
    <h2 class="footer-links-container-title">Quick</h2>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Features</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Templates</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Custom</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Comments</h3>
    </a>
  </article>

  <article class="footer-links-container">
    <h2 class="footer-links-container-title">Lists</h2>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Features</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Templates</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Custom</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Comments</h3>
    </a>
  </article>

  <article class="footer-links-container">
    <h2 class="footer-links-container-title">Lists</h2>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Features</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Templates</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Custom</h3>
    </a>

    <a class="footer-link" href="">
      <h3 class="footer-link-text">Comments</h3>
    </a>
  </article>
</article>
