<nav>
  <h1 class="nav-logo">TaskTonic</h1>

  <article class="nav-links-container">
    <div class="nav-list-links-container">
      <a class="nav-link" href="">
        <p class="nav-link-text">Personal</p>
      </a>

      <a class="nav-link" href="">
        <p class="nav-link-text">Daily</p>
      </a>

      <a class="nav-link" href="">
        <p class="nav-link-text">Monthly</p>
      </a>

      <a class="nav-link" href="">
        <p class="nav-link-text">Yearly</p>
      </a>
    </div>

    <a class="nav-register-link" href="#account-section">
      <img class="nav-register-link-image" src="/buttons/signup.png" />
      <p class="nav-register-link-text">Register</p>
    </a>
  </article>
</nav>
