<nav>
  <h1 class="nav-logo">TaskTonic</h1>

  <article class="nav-links-container">
    <% if(account === true) { %>
    <div class="nav-list-links-container">
      <% header.lists.forEach((list) => { %>
      <a class="nav-link" href="<%= list.URL %>">
        <p class="nav-link-text"><%= list.name %></p>
      </a>
      <% }) %>
    </div>

    <a class="nav-collection-link" href="/collection">
      <img class="nav-collection-link-image" src="/buttons/signup.png" />
      <p class="nav-collection-link-text">Collection</p>
    </a>
    <% } %> <% if(account === false) { %>
    <a class="nav-register-link" href="#account-section">
      <img class="nav-register-link-image" src="/buttons/signup.png" />
      <p class="nav-register-link-text">Register</p>
    </a>
    <% } %>
  </article>
</nav>
