<article class="inspired-container">
  <% for(let i = 0; i < 4; i++) { %>
  <a class="inspired-link" href="">
    <img class="inspired-link-image" src="/home/inspired/trello.png" />
  </a>
  <% } %>
</article>
