<article class="share-carousel">
  <% for(let i = 0; i < 2; i++) { %>
  <article class="share-container">
    <div class="share-text-container">
      <h1 class="share-title">SHARE YOUR TASKS</h1>

      <p class="share-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quia!
        Sint molestiae alias dignissimos vitae voluptatem aut ea dolorem est.
      </p>

      <a class="share-link tasks" href="">
        <h4 class="share-link-text">Share Tasks</h4>
        <img class="share-link-image" src="/buttons/arrow.png" />
      </a>
    </div>

    <img class="share-image" src="/home/share/share.png" />
  </article>
  <% } %>
</article>

<article class="share-controller">
  <img class="share-next" src="/home/share/next.png" />
  
  <div class="share-indicator-container">
    <img class="share-indicator" src="/buttons/indicator.png" />
    <img class="share-indicator" src="/buttons/indicator.png" />
  </div>
</article>
