/*---------------------------------------------*/
/*---------------- TODO STYLES ----------------*/
/*---------------------------------------------*/

#todo-section {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  display: grid;
  gap: 2rem 0;
}

.task-divider {
  border-bottom: 2px solid #ffffff10;
  border-right: none;
  border-left: none;
  border-top: none;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
