<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Font Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion Google Font Server -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion Google Font Server -->
    <link rel="stylesheet" href="/home.css" />
    <title>TaskTonic</title>
  </head>

  <body>
    <header id="header">
      <nav>
        <h1 class="nav-logo">TaskTonic</h1>

        <div class="nav-links-container">
          <a class="nav-link" href="">
            <p class="nav-link-text">Daily</p>
          </a>

          <a class="nav-link" href="">
            <p class="nav-link-text">Monthly</p>
          </a>

          <a class="nav-link" href="">
            <p class="nav-link-text">Yearly</p>
          </a>

          <a class="nav-link" href="">
            <p class="nav-link-text">Custom</p>
          </a>
        </div>

        <div class="nav-register-links-container">
          <a class="nav-register-link login" href="">
            <p class="nav-register-link-text">Log in</p>
          </a>

          <a class="nav-register-link sign" href="">
            <p class="nav-register-link-text">Sign Up</p>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <section id="introduction-section">
        <div class="intro-info-container">
          <h1 class="intro-title">MANAGING YOUR TASKS MADE EASY AND QUICK</h1>

          <p class="intro-description">
            Organize yourself with our collection of ready made todo lists or
            simply create your own, and start editing right away. Time is
            precious, what are you waiting for?
          </p>

          <div class="intro-links-container">
            <a class="intro-link primary" href="">
              <p class="intro-link-text">View My Collection</p>
              <img class="intro-link-image" src="/home/intro/arrow.png" />
            </a>

            <a class="intro-link secondary" href="">
              <img class="intro-link-image" src="/home/intro/add.png" />
              <p class="intro-link-text">Create A Custom List</p>
            </a>
          </div>
        </div>

        <img class="intro-image" src="/home/intro/todo.png" />
      </section>
    </main>
  </body>
</html>
