<section id="todo-list-types">
  <article id="list">
    <%- include("./todo-progress.ejs", { todo: todo }) %>
  </article>

  <article id="list">
    <%- include("./todo-completed.ejs", { todo: todo }) %>
  </article>
</section>

<form id="todo-form" action="<%= todo.postURL %>" method="post">
  <input class="todo-input" maxlength="50" type="text" name="addTask" />

  <div class="todo-form-button-container">
    <button class="todo-form-button add" name="todoButton" value="add">
      <img class="todo-form-button-image" src="/lists/add.png" />
    </button>
  </div>
</form>
