<article id="todo-list">
  <% todo.list.forEach((task) => { %>
  <form class="task" action="<%= todo.postURL %>" method="post">
    <h3 class="task-text"><%= task %></h3>

    <button class="task-button" name="todoButton" value="<%= task %>">
      <img class="task-button-image" src="/lists/delete.png" />
    </button>
  </form>
  <% }) %>
</article>

<form id="todo-form" action="<%= todo.postURL %>" method="post">
  <input class="todo-input" maxlength="50" type="text" name="task" />

  <div class="todo-form-button-container">
    <button class="todo-form-button add" name="todoButton" value="add">
      <img class="todo-form-button-image" src="/lists/add.png" />
    </button>

    <button class="todo-form-button reset" type="reset">
      <img class="todo-form-button-image" src="/lists/reset.png" />
    </button>
  </div>
</form>
