<section id="todo-list-types">
  <% for(let i = 0; i < 2; i++) { %>
  <article id="list">
    <%- include("./todo-progress.ejs", { list: todo.list }) %>
  </article>
  <% } %>
</section>

<form id="todo-form" action="<%= todo.postURL %>" method="post">
  <input class="todo-input" maxlength="50" type="text" name="addTask" />

  <div class="todo-form-button-container">
    <button class="todo-form-button add" name="todoButton" value="add">
      <img class="todo-form-button-image" src="/lists/add.png" />
    </button>
  </div>
</form>
