/*-----------------------------------------------------------*/
/*--------------------- FEATURES STYLES ---------------------*/
/*-----------------------------------------------------------*/

#features-section {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 10rem;
  display: grid;
  gap: 4rem;
}

/*-----------------------------------------*/
/*----------- OPTIONS CONTAINER -----------*/
/*-----------------------------------------*/

.features-options-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 3rem;
}

.features-option-image {
  transition: opacity 500ms;
  cursor: pointer;
  width: 80px;
}

/*----------------------------------------*/
/*----------- POINTS CONTAINER -----------*/
/*----------------------------------------*/

.features-points-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  width: 1000px;
  display: grid;
  gap: 1rem;
}

.features-point {
  border: 2px solid #ffffff15;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  gap: 0.5rem;
}

.features-text-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

.features-point-image {
  width: 50px;
}

.features-point-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.features-point-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  color: #fff;
}

/*----------------------------------------*/
/*-------------- ANIMATIONS --------------*/
/*----------------------------------------*/

.feature-reveal {
  animation: FeatureReveal 600ms forwards;
}

@keyframes FeatureReveal {
  from {
    translate: 0 10px;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

.feature-hide {
  animation: FeatureHide 500ms forwards;
}

@keyframes FeatureHide {
  from {
    translate: 0;
    opacity: 1;
  }

  to {
    translate: 0 -10px;
    opacity: 0;
  }
}

/*--------------------------------------------------*/
/*------------------- END OF CSS -------------------*/
/*--------------------------------------------------*/
