/*-------------------------------------------------------*/
/*-------------------- NAVBAR STYLES --------------------*/
/*-------------------------------------------------------*/

header {
  box-shadow: 0 5px 10px #00000080;
  position: relative;
  z-index: 0;
}

nav {
  background: linear-gradient(90deg, #000000, #001943 80%);
  justify-content: space-between;
  grid-auto-flow: column;
  padding: 1.25rem 4rem;
  align-items: center;
  display: grid;
}

.nav-logo {
  font-family: "Josephin Regular", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

/*------------------------------------*/
/*------------ TODO LINKS ------------*/
/*------------------------------------*/

.nav-links-container {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 4rem;
}

/*----------------------------------------*/
/*-------------- LIST LINKS --------------*/
/*----------------------------------------*/

.nav-list-links-container {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.nav-link {
  padding: 0.25rem 1rem;
  position: relative;
  z-index: 0;
}

.nav-link::before {
  transition: width 400ms, background-color 400ms;
  background-color: #ff004c;
  transform: skewX(-25deg);
  position: absolute;
  content: "";
  height: 100%;
  z-index: -1;
  width: 0%;
  bottom: 0;
  left: 0;
  top: 0;
}

.nav-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 500ms;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

/*---------------------------------------*/
/*------------ REGISTER LINK ------------*/
/*---------------------------------------*/

.nav-register-link {
  transition: background-color 450ms, scale 150ms;
  box-shadow: 4px 4px #00000080;
  border: 2px solid #fff700;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 2.5px;
  padding: 0.4rem 2rem;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.nav-register-link-text {
  font-family: "Poppins", sans-serif;
  transition: filter 450ms;
  letter-spacing: 1px;
  transition: 450ms;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

.nav-register-link-image {
  transition: filter 450ms;
  width: 24px;
}

/*---------------------------------------*/
/*------------- TRANSITIONS -------------*/
/*---------------------------------------*/

.nav-register-link:hover {
  background-color: #fff700;
}

.nav-register-link:focus {
  scale: 0.9;
}

.nav-register-link:hover .nav-register-link-text,
.nav-register-link:hover .nav-register-link-image {
  filter: invert(1);
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link:focus::before {
  background-color: #a50032;
}

/*--------------------------------------------------*/
/*------------------- END OF CSS -------------------*/
/*--------------------------------------------------*/
